extends ../layout

block content
  h1 Editing Filter #{title}
  .row
    fieldset.form-group.col-md
        legend Filtering for Main Section
        .form-group
            label(for="skip_url_starts") Skip url Starts With
            textarea#skip_url_starts.form-control(name="skip_url_starts", cols="30", rows="5")=data.main_section_url_filter.skip_url_starts.join('\n')
        .form-group
            label(for="skip_url_ends") Skip url Ends With
            textarea#skip_url_ends.form-control(name="skip_url_ends", cols="30", rows="5")=data.main_section_url_filter.skip_url_ends.join('\n')
        .form-group
            label(for="skip_url_contains") Skip url Contains With
            textarea#skip_url_contains.form-control(name="skip_url_contains", cols="30", rows="5")=data.main_section_url_filter.skip_url_contains.join('\n')
        .form-group
            label(for="skip_exact_url") Exact
            textarea#skip_exact_url.form-control(name="skip_exact_url", cols="30", rows="5")=data.main_section_url_filter.skip_exact_url.join('\n')
        .form-group
            label(for="accept_only") Accept Only
            textarea#accept_only.form-control(name="accept_only", cols="30", rows="5")=data.main_section_url_filter.accept_only.join('\n')
        .form-group
            label(for="regex_include_only") Regex Include
            textarea#regex_include_only.form-control(name="regex_include_only", cols="30", rows="5")=data.main_section_url_filter.regex_include_only.join('\n')
        .form-group
            label(for="regex_exclude_only") Regex Exclude
            textarea#regex_exclude_only.form-control(name="regex_exclude_only", cols="30", rows="5")=data.main_section_url_filter.regex_exclude_only.join('\n')
    fieldset.form-group.col-md
        legend Filtering for Sub Section
        .form-group
            label(for="skip_url_starts") Skip url Starts With
            textarea#skip_url_starts.form-control(name="skip_url_starts", cols="30", rows="5")=data.sub_section_url_filter.skip_url_starts.join('\n')
        .form-group
            label(for="skip_url_ends") Skip url Ends With
            textarea#skip_url_ends.form-control(name="skip_url_ends", cols="30", rows="5")=data.sub_section_url_filter.skip_url_ends.join('\n')
        .form-group
            label(for="skip_url_contains") Skip url Contains With
            textarea#skip_url_contains.form-control(name="skip_url_contains", cols="30", rows="5")=data.sub_section_url_filter.skip_url_contains.join('\n')
        .form-group
            label(for="skip_exact_url") Exact
            textarea#skip_exact_url.form-control(name="skip_exact_url", cols="30", rows="5")=data.sub_section_url_filter.skip_exact_url.join('\n')
        .form-group
            label(for="accept_only") Accept Only
            textarea#accept_only.form-control(name="accept_only", cols="30", rows="5")=data.sub_section_url_filter.accept_only.join('\n')
        .form-group
            label(for="regex_include_only") Regex Include
            textarea#regex_include_only.form-control(name="regex_include_only", cols="30", rows="5")=data.sub_section_url_filter.regex_include_only.join('\n')
        .form-group
            label(for="regex_exclude_only") Regex Exclude
            textarea#regex_exclude_only.form-control(name="regex_exclude_only", cols="30", rows="5")=data.sub_section_url_filter.regex_exclude_only.join('\n')
    fieldset.form-group.col-md
        legend Filtering for Article Links
        .form-group
            label(for="skip_url_starts") Skip url Starts With
            textarea#skip_url_starts.form-control(name="skip_url_starts", cols="30", rows="5")=data.article_url_filter.skip_url_starts.join('\n')
        .form-group
            label(for="skip_url_ends") Skip url Ends With
            textarea#skip_url_ends.form-control(name="skip_url_ends", cols="30", rows="5")=data.article_url_filter.skip_url_ends.join('\n')
        .form-group
            label(for="skip_url_contains") Skip url Contains With
            textarea#skip_url_contains.form-control(name="skip_url_contains", cols="30", rows="5")=data.article_url_filter.skip_url_contains.join('\n')
        .form-group
            label(for="skip_exact_url") Exact
            textarea#skip_exact_url.form-control(name="skip_exact_url", cols="30", rows="5")=data.article_url_filter.skip_exact_url.join('\n')
        .form-group
            label(for="accept_only") Accept Only
            textarea#accept_only.form-control(name="accept_only", cols="30", rows="5")=data.article_url_filter.accept_only.join('\n')
        .form-group
            label(for="regex_include_only") Regex Include
            textarea#regex_include_only.form-control(name="regex_include_only", cols="30", rows="5")=data.article_url_filter.regex_include_only.join('\n')
        .form-group
            label(for="regex_exclude_only") Regex Exclude
            textarea#regex_exclude_only.form-control(name="regex_exclude_only", cols="30", rows="5")=data.article_url_filter.regex_exclude_only.join('\n')
    button#add(type="button" class="btn btn-outline-primary btn-rounded waves-effect", style="position:fixed; bottom:10px; right:10px") Update
block js
    script.
        function getValues(data){
            return Object.keys(data).map(function(k, i){
                var obj = {}
                obj[k] = data[k].split('\n')
                return obj
            })
        }
        function ArrayReduce(obj){
            return obj.reduce(function(result, item){
                var key = Object.keys(item)[0]
                result[key] = item[key]
                return result
            }, {})
        }

        $('button').click(function(){
            var main_section_urls = {
                skip_url_starts: $('textarea#skip_url_starts').eq(0).val(),
                skip_url_ends:$('textarea#skip_url_ends').eq(0).val(),
                skip_url_contains: $('textarea#skip_url_contains').eq(0).val(),
                skip_exact_url: $('textarea#skip_exact_url').eq(0).val(),
                accept_only: $('textarea#accept_only').eq(0).val(),
                regex_include_only: $('textarea#regex_include_only').eq(0).val(),
                regex_exclude_only: $('textarea#regex_exclude_only').eq(0).val()
            }

            var sub_section_urls = {
                skip_url_starts: $('textarea#skip_url_starts').eq(1).val(),
                skip_url_ends:$('textarea#skip_url_ends').eq(1).val(),
                skip_url_contains: $('textarea#skip_url_contains').eq(1).val(),
                skip_exact_url: $('textarea#skip_exact_url').eq(1).val(),
                accept_only: $('textarea#accept_only').eq(1).val(),
                regex_include_only: $('textarea#regex_include_only').eq(1).val(),
                regex_exclude_only: $('textarea#regex_exclude_only').eq(1).val()
            }

            var article_urls = {
                skip_url_starts: $('textarea#skip_url_starts').eq(2).val(),
                skip_url_ends:$('textarea#skip_url_ends').eq(2).val(),
                skip_url_contains: $('textarea#skip_url_contains').eq(2).val(),
                skip_exact_url: $('textarea#skip_exact_url').eq(2).val(),
                accept_only: $('textarea#accept_only').eq(2).val(),
                regex_include_only: $('textarea#regex_include_only').eq(2).val(),
                regex_exclude_only: $('textarea#regex_exclude_only').eq(2).val()
            }

            var main_section_url_filter = ArrayReduce(getValues(main_section_urls))
            var sub_section_url_filter = ArrayReduce(getValues(sub_section_urls))
            var article_url_filter = ArrayReduce(getValues(article_urls))
            var dataJSON = {
                'main_section_url_filter':main_section_url_filter,
                'sub_section_url_filter':sub_section_url_filter,
                'article_url_filter':article_url_filter
            }

            console.log(dataJSON)

            $.ajax({
                'dataType' : "json",
                'contentType' : "application/json; charset=utf-8",
                'method': 'POST',
                'url': '/filters/update/#{data._id}',
                'data': JSON.stringify(dataJSON)
            }).done(function(response){
                console.log(response)
                location.reload()
            }).fail(function(error){
                console.log(error)
            })
        })